<h1>Edytuj</h1>

<%= render "form", document: @document %>
<%= button_tag "Save", data: {controller: "cmr", action: "cmr#save"} %>
<br>

<div>
  <%= link_to "Show this document", @document %> |
  <%= link_to "Back to documents", documents_path %>
</div>
