<h1>Edytuj</h1>

<%= render "form", document:, available_hours: %>
<%= button_tag "Pobierz CMR", data: {controller: "cmr", action: "cmr#save"}, class: 'btn btn-secondary' %>
<br>

<div>
  <%= link_to "Show this document", document %> |
  <%= link_to "Back to documents", documents_path %>
</div>
