<%= render document %>

<div>
  <%= link_to edit_document_path(document), class: 'btn btn-outline-primary' do %>
    Edytuj <i class="fa-solid fa-pen-to-square"></i>
  <% end %>

  <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">

    Usuń <i class="fa-solid fa-trash"></i>

  </button>
  <%= render Modal.new(document:) %>
  <%= render DownloadCmr.new(document: ) %>
</div>
