<%= render document %>

<div>
  <%= link_to edit_document_path(document), class: 'btn btn-outline-primary' do %>
    Edytuj <i class="fa-solid fa-pen-to-square"></i>
  <% end %>

  <%= button_to "Usuń", document, method: :delete, class: "btn btn-danger" %>
  <%= render DownloadCmr.new(document: ) %>
</div>
