<h1>Zaproś klienta</h1>

<%= simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <% resource.class.invite_key_fields.each do |field| -%>
    <div class="form-inputs">
      <%= f.input field %>
    </div>
  <% end -%>

  <div class="form-actions">
    <%= f.button :submit, "Wyślij zaproszenie", class: "btn-primary" %>
  </div>
<% end %>
